{% extends 'base.html' %}

{% block content %}
    <div class="level">
        <div class="level-item">
            <div class="column is-4">
                <h1 class="title">Log in</h1>

                <form method="post" action=".">
                    {% csrf_token %}

                    {{ form.as_p }}

                    <div class="field">
                        <div class="control">
                            <button class="button has-background-primary">Log in</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}